* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  background-color: hsl(0, 0%, 6%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-canvas {
  display: block;
  margin: 0 auto;
  background-color: hsl(0, 0%, 12%);
  border: 2px solid hsl(0, 0%, 20%);
}